<div class="about-wrapper">
  <div class="container">
    <div class="row"> <!-- row 1 -->
      <div class="col-sm-12 col-md-6 animate__animated animate__backInLeft">
        <%= image_tag('about-img.png', class: 'img-fluid') %>
      </div>
      <div class="col-sm-12 col-md-6 align-self-center">
        <h1>Hi, I'm Jacques. A goal driven optimist based in Bloemfontein, South Africa.</h1>
        <p class="lead">The intention of this website is to showcase some of my work and act as an online résumé.</p>
        <p class="">You can download a copy of my résumé here...</p>
        <%= link_to simple_pages_download_cv_url do %>
        <button class="btn btn-outline-info mr-2 animate__animated animate__backInUp">CV - Jacques le Roux</button>
        <% end -%>

        <!-- Modal Button -->
        <button class="btn btn-outline-success animate__animated animate__backInUp" data-toggle="modal" data-target="#cv-modal">Just View It...</button>

        <!-- The Modal -->
        <div class="modal fade" id="cv-modal">
          <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">CV - Jacques le Roux</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal Body -->
              <div class="modal-body">
                <%= image_tag('cv-jacques.png', alt: 'cv-Jacques', class: 'img-fluid') %>
              </div>

              <!-- Modal Footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div> <!-- end modal -->
        <br>
      </div>
    </div> <!-- end row 1 -->
    <br>
    <br>
    <h1>Career Skills</h1>
    <div class="row"> <!-- row 2 -->
      <div class="col-sm-12 col-md-6">
        <br>
        <h6 class="font-weight-bold">Handy Sales Skills</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Absolute drive to not being outperformed by colleagues.</li>
          <li class="list-group-item">Keen interest in neuro-linguistic programming.</li>
          <li class="list-group-item">Determined not to be perceived as failing.</li>
          <li class="list-group-item">I've seen The Wolf of Wall Street.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <br>
        <h6 class="font-weight-bold">Handy Developer Skills</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Good at copy and paste.</li>
          <li class="list-group-item">I press <kbd>CTRL + S</kbd> a lot.</li>
          <li class="list-group-item">Know and use a lot of keyboard shortcuts.</li>
          <li class="list-group-item">I know how to <span class="font-italic">duckduckgo</span> effectively.</li>
        </ul>
      </div>
    </div> <!-- end row 2 -->
    <div class="row"> <!-- row 3 -->
      <div class="col-sm-12 col-md-6">
        <br>
        <h6 class="font-weight-bold">Handy Designer Skills</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">I have 2 fully functioning eyes.</li>
          <li class="list-group-item">My fiancée is always here to tell me what sucks and what works.</li>
          <li class="list-group-item">I know how to use a colour palette. (And spell colour...)</li>
          <li class="list-group-item">I listen to people, then ignore them.</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <br>
        <h6 class="font-weight-bold">Handy Life Skills</h6>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">My sauce (yes, sauce) of immense knowledge originates from 9Gag.</li>
          <li class="list-group-item">Like a chameleon... adapt to my environment.</li>
          <li class="list-group-item">Know when to be silent and when to jump the bandwagon.</li>
          <li class="list-group-item">Doubt the credibility of every news article.</li>
        </ul>
      </div>
    </div> <!-- end row 3-->
    <br>        
  </div> <!-- end container -->
</div> <!-- end about wrapper -->