<div class="about-wrapper">
  <div class="container">
    <div class="text-center">
      <h3>About</h3>
      <hr>
      <p>"All we need in life and healing has been provided by God in nature." - Paracelus</p>
      <br>
      <p>Founded in Jan Kempdorp in 2020, The Seeds of Life Collection is a leading resource in the community of organic growing.
        <br>
        We serve a large group of public members that value the nutritional importance of organic fruits, vegetables and herbs. The importance of health has been neglected for far too long and the greed for wealth and consumerism has taken its toll on our weakened bodies and minds.
        <br>
      As a service to the people, you, the reader, we will educate and provide the means to a healthier lifestyle.</p>
    </div>
  </div> <!-- end container -->
</div> <!-- end about wrapper -->