<div class="contact-wrapper">
  <div class="container">
    <div class="animate__animated animate__bounce text-center">
      <h4 class="mb-2">Please feel free to contact me.</h4>
      <p><a class="contact-form-input" href="mailto:info@theseedsoflifecollection.co.za" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"> info@theseedsoflifecollection.co.za </i></a></p>
      <p><a class="contact-form-input" href="https://wa.me/27823793373" target="_blank"><i class="fa fa-whatsapp" aria-hidden="true">
 082 379 3373 </i></a></p>
    </div>
  </div>
</div>