<!-- div class="contact-wrapper">
  <div class="container">
    <div class="text-center">
      <h1 class="display-2">Contact Me</h1>
      <h6 class="font-weight-bold mb-5">Ready for offers.</h6>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <%#= form_with(url:'/simple_pages/thank_you', method: "post", local: true) do |form| %>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <%#= form.label :name, class: 'sr-only' %>
          <%#= form.text_field :name, class: 'form-control', placeholder: 'Enter Name' %>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <%#= form.label :email, class: 'sr-only' %>
          <%#= form.text_field :email, class: 'form-control', placeholder: 'Enter Email Address' %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <div class="form-group">
          <%#= form.label :message, class: 'sr-only' %>
          <%#= form.text_area :message, class: 'form-control', placeholder: 'Enter your message...', rows: 5 %>
        </div>
      </div>
    </div>
    <%#= button_tag type: 'submit', class: "btn btn-outline-info mb-2" do %>
    <i class="fa fa-paper-plane" aria-hidden="true"> Send</i>
  <%# end %>
    <%# end -%>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Email: <span class="text-muted">jacques.leroux3@gmail.com</span></p>
        <p>Cellphone Number: <span class="text-muted">076 5321 085</span></p>
      </div>
    </div> 
  </div>
</div> -->

<div class="contact-wrapper">
  <div class="container">
    <div class="animate__animated animate__bounce text-center">
      <h4 class="mb-2">Please feel free to contact me.</h4>
      <p><a class="contact-form-input" href="mailto:jacques.leroux3@gmail.com?subject=HIRED!&body=Congratulations!%20You%20deserve%20money!" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"> jacques.leroux3@gmail.com </i></a></p>
      <p><a class="contact-form-input" href="https://wa.me/27765321085?text=I'm%20interested%20in%20employing%20you%20full%20time%20with%20a%20salary%20of%20$1mil%20per%20year." target="_blank"><i class="fa fa-whatsapp" aria-hidden="true">
 076 5321 085 </i></a></p>
    </div>
  </div>
</div>