<div class="container mb-3">
  <div class="text-center">
    <h3>Plants</h3>
    <hr>
    <div class="row">
      <% @plant_guides.each do |plant_guide| %>
      <div class="col-xs-12 col-sm-12 col-md-3 mb-3">
        <div class="index-plant">
          <h6><%= link_to (plant_guide.name), plant_guide %></h6>
          <%= link_to image_tag(plant_guide.image, class: 'img-fluid', size: '200x200'), plant_guide %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'New Plant Guide', new_plant_guide_path %>
<% end -%>
