<div class="conteiner">
  <div class="text-center">
    <h1>Plants</h1>
    <div class="row">
      <% @plant_guides.each do |plant_guide| %>
      <div class="col">
        <div class="index-plant">
          <h4 class="plant-name"><%= plant_guide.name %></h4>
          <h5 class="plant-title"><%= plant_guide.science_title %></h5>
          <%= link_to image_tag(plant_guide.image, class: 'img-fluid', size: '200x200'), plant_guide %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= link_to 'New Plant Guide', new_plant_guide_path %>
