/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
   font-family: 'Cutive Mono', monospace;
   font-weight: 400;
   color: #000;
   background-image: url('background-image.png');
   height: 100%;
   background-position: center;
   background-repeat: none;
   background-size: cover;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display', serif;
   color: 000;
 }

 .navbar-brand {
  margin-right: 120px;
}

.navbar-brand, .navbar-expand-sm .navbar-nav .nav-link {
  text-decoration: none;
  font-weight: 900;
  font-size: 0.85em;
  color: #000;
}

.nav-link {
  margin: 0 20px;
}

.footer-wrapper {
  background-color: #111;
  color: #fff;
}

.fa-youtube:hover {
  color: #f70000;
}

.fa-instagram:hover {
  color: #b926a8;
}

.fa-facebook:hover {
  color: #4064ac;
}

.fa-whatsapp:hover {
  color: #2fcd4b;
}

.fa-envelope-o:hover {
  color: #bf4049;
}

.contact-form-input, .contact-form-input:hover {
  color: #000;
  text-decoration: none;
}

footer a {
  color: #fff;
}

.mb-8 {
  margin-bottom: 8rem;
}

.pt-7{
  padding-top: 7rem;
}

/*******************INDEX*************/
