body, html {
   font-family: 'Cutive Mono', monospace;
   font-weight: 400;
   color: #000;
   background-image: url('background-image.png');
   height: 100%;
   background-position: center;
   background-repeat: none;
   background-size: cover;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: 'Playfair Display', serif;
   color: 000;
 }

 p {
  font-size: 1.1em;
 }

 .plant-image {
  width: 325px;
  height: 325px;
  float: left;
}

.quick-info {
 float: right;
}