<div class="footer-wrapper pt-5">
  <div class="container">
    <footer>
      <div class="text-center">
        <div class="row">
          <div class="col">
            <a href="https://www.youtube.com/channel/UCcDWjl2P64VLOqu2W-KI7qA" target="_blank"><i class="fa fa-youtube fa-2x mx-1" aria-hidden="true"></i></a>
            <a href="https://facebook.com/jacques.leroux.50" target="_blank"><i class="fa fa-facebook fa-2x mx-1" aria-hidden="true"></i></a>
            <a href="https://wa.me/27765321085?text=Found%20you%20on%20your%20website.%20Hi%20I'm%20" target="_blank"><i class="fa fa-whatsapp fa-2x mx-1" aria-hidden="true"></i></a>
            <a href="https://github.com/JacquesUnfiltered" target="_blank"><i class="fa fa-github fa-2x mx-1" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col">
           <p>&copy; <%= Time.current.year %> Jacques le Roux.</p>
         </div>
       </div>
     </div>
   </footer>
 </div>
</div>