<div class="footer-wrapper pt-5 mt-auto">
  <div class="container">
    <footer>
      <div class="text-center">
        <div class="row">
          <div class="col">
            <a href="https://www.facebook.com/The-Seeds-of-Life-Collection-107816881039657/" target="_blank"><i class="fa fa-facebook fa-2x mx-1" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/the_seeds_of_life_collection/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.youtube.com/channel/UCcDWjl2P64VLOqu2W-KI7qA" target="_blank"><i class="fa fa-youtube fa-2x mx-1" aria-hidden="true"></i></a>
            <a href="https://wa.me/27823793373" target="_blank"><i class="fa fa-whatsapp fa-2x mx-1" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col">
           <p>&copy; <%= Time.current.year %> The Seeds of Life Collection.</p>
         </div>
       </div>
     </div>
   </footer>
 </div>
</div>