<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'layouts/nav' %>
    <div class="mb-8"></div>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
